<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form action="" method="POST">
      username:<input type="text" name="username" required="true" autocomplete="off" ><br>
      DOB:<input type="date" name="DOB" required="true"><br>
      Name:<input type="text" name="name" required="true"><br>
      Email:<input type="text" name="email" required="true"><br>
      mobile: <input type="number" name="mobile" required="true"><br>
      BloodGr:<input type="text" name="bloodGr" required="true"><br>
      State:<input type="text" name="state" required="true"><br>
      district:<input type="text" name="district" required="true"><br>
      aadhar:<input type="number" name="aadhar" required="true"><br>
      nomeneeAadhar: <input type="number" name="nomeneeAadhar" required="true"><br>
      <button type="submit" name="submit" value="submit">Submit</button>

    </form>

</body>
</html>