<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../stylesheets/style.css ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="bg">
    <div id="container_doctor">
    <form action="" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="Username" required="true" autocomplete="off" ><br><br>
      <input type="password" name="password" placeholder="password"  required="true"><br><br>
      <label>DOB</label><input type="date" name="DOB" placeholder="DOB" required="true"><br><br>
      <input type="text" name="name" placeholder="name" required="true"><br><br>
      <input type="text" name="email" placeholder="email" required="true"><br><br>
      <input type="number" name="mobile" placeholder="mobile No required="true"><br><br>
      <input type="text" name="bloodGr" placeholder="Blood Group" required="true"><br><br>
      <input type="text" name="state" placeholder="state" required="true"><br><br>
      <input type="text" name="district" placeholder="district" required="true"><br><br>
      <input type="number" name="aadhar" placeholder="aadhar No" required="true"><br><br>
      <input type="number" name="nomeneeAadhar" placeholder="NomeneeAdhar No" required="true"><br><br>
      <label>Aadhar card</label><input type="file" name="myFile" id="file" /><br><br>
      <input  type="submit" name="submit" value="submit">

    </form>
  </div>

</body>
</html>