<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1>patient</h1>
    <% patQueue.forEach(patient => {%>
        <p> <a href= "admin/<%= patient._id%>" > <%= patient.username %> </a>  <br></p>
    <%  }); %>

    <h1>doctor</h1>
    <% doctorQueue.forEach(doctor => {%>
        <p> <a href= "admin/<%= doctor._id%>" > <%= doctor.username %> </a>  <br></p>
    <%  }); %>
</body>
</html>